language: ruby

cache: bundler

rvm:
  - 2.5.0
  - 2.7.2
  - 3.0.0
  - ruby-head
  - jruby-9.1.16.0
  - jruby-head

before_install:
  - gem update --system

matrix:
  include:
    - rvm: 2.7.2
      script:
        - bundle exec danger
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-9.1.16.0
    - rvm: jruby-head
