---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GraphQL__Client__OperationDefinition_70283598546520
        {\n  viewer {\n    name\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_70283598546520","variables":{}}'
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1534286196'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"name":"Daniel Doubrovkine (dB.) @dblockdotorg"}}}'
  recorded_at: Tue, 14 Aug 2018 21:53:53 GMT
recorded_with: VCR 4.0.0
